{% load placeholder_tags %}
{% load cms_tags %}
{% load thumbnail %}

<article class="product-list">
    <section class="category">
        <h2>{{category}}</h2>
        <div class="description">
            {% render_placeholder category.description %}
        </div>
    </section>

    {% for product in object_list %}
    <section class="product">
        <h3><a href="{%url 'cwd_product_detail' product.slug %}">{{product }}</a></h3>
        <div class="image">
            <img src="{% thumbnail product.image 450x450%}"/>
        </div>
        <div class="description">
            {% render_placeholder product.description %}
        </div>
    </section>
</article>
{% endfor %}
